#board {
  display: grid;

  width: 90vw;
  max-width: 500px;
  aspect-ratio: 1/1;

  gap: 1px;
  background-color: black;

  margin: 0 auto;
}
/* マス */
.cell {
  background-color: #14823b;

  /* 駒を中央にbor配置するためのスタイル */
  display: flex;
  justify-content: center;
  align-items: center;

  /* このマスを基準にアシストを付与 */
  position: relative;
}

/* 駒 */
.piece {
  width: 84%;
  height: 84%;
  border-radius: 50%;
}
.black {
  background-color: black;
}

.white {
  background-color: white;
}

.valid-move {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.15);
}

/* 置ける場所アシスト */
.valid-move::after {
  content: "";
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.45);

  /* cellを基準にしてますよ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* クリック判定除去 */
  pointer-events: none;
}

.game-info {
  /* 横ならべ */
  display: flex;
  /* 画面いっぱい */
  justify-content: space-between;
  /* 高さをそろえる */
  align-items: center;

  width: 90vw;
  max-width: 500px;

  margin: 0 auto 10px;
}
